.forcedInlineBlock{
    display: inline-block!important;
}
.forcedFlex{
    display: flex!important;
}
.forcedHide{
    display: none!important;
}
#addPost > form, #addSchoolPost > form{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
}
#addPost > form > div, #addSchoolPost > form > div{
    margin: 0;
}

#addSchoolPost, #addPost{
    padding: 70px 0px;
}
#addSchoolPost hr, #addPost hr{
    margin: 50px 0;
}
#addSchoolPost figcaption, #addPost figcaption{
    font-weight: bold;
}
#blockUploadType, #blockUploadGroupedFile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 5px;
}
#blockUploadGroupedFile{
    display: none;
    flex-wrap: wrap;
    height: auto;
    margin-top: 15px!important;
}
#groupedFileTypeSelection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 200px;
    width: 100%;
}
#groupedFileTypeSelection > span {
    width: 100%;
}
#groupedFileTypeSelection figure{
    max-height: 80%;
    max-width: 30%;
    width: auto;
    flex: auto;
}
#groupedFileTypeSelection figure input{
    display: none;
}
#groupedFileTypeSelection figure label{
    height: 100%;
    cursor: pointer;
}
.newGroupedFile{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.previewBadLinkWarning {
    color: #de522f;
    text-decoration: underline;
}
#blockUploadType img, #blockUploadGroupedFile img{
    max-height: 80%;
}
#btnAddFolder, #btnAddFile{
    width: 45%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#btnAddFolder img, #btnAddFile img{
    max-width: 75%;
}
#blockAddFile{
    display: none;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 5px;
}
#fileTypeSelection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
#fileTypeSelection input{
    display: none;
}
#fileTypeSelection figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
    height: 90%;
    width: 45%;
}
#fileTypeSelection label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}
#fileTypeSelection label img{
    cursor: pointer;
    max-width: 75%;
    max-height: 80%;
}
#blockIsPrivate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#blockIsPrivate > div{
    margin-bottom: 10px;
}
#blockIsPrivate > div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
}
#authorizedGroups{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 48%;
    min-height: 80px;
}
.authorizedGroup{
    color: #CF8B3F;
    border: solid 2px #CF8B3F;
    border-radius: 10px;
    padding: 4px 6px;
    margin: 5px;
}
.authorizedGroup i{
    margin-left: 5px;
    cursor: pointer;
}
#blockIsPrivate > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#blockIsPrivate > div > div:nth-of-type(2){
    display: none;
    justify-content: center;
    align-items: center;
}
#blockIsPrivate label{
    color: #CF8B3F;
    font-size: 1.5em;
    margin-right: 35px;
}
#blockTitle{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
#blockVideoLink{
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#blockTitle input, #blockVideoLink input{
    width: 60%;
}
#blockUploadFile{
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#blockUploadFile > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#blockUploadFile > div > div, .newGroupedFileImg > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #CF8B3F;
    border-radius: 20px;
    width: 40%;
    min-height: 100px;
    overflow: hidden;
}
#blockUploadFile div > figure{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40%;
    min-height: 100px;
}
#blockUploadFile div .preview, .preview{
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.previewVideo{
    margin-top: 10px;
    min-width: 50%;
    max-width: 50%;
    min-height: 350px;
    max-height: 100%;
}
.preview img{
    max-width: 90%;
    max-height: 90%;
}
#uploadFile{
    max-width: 90%;
}
#blockTinyMce{
    width: 100%;
    display: none;
}
#blockTinyMce .tox-tinymce{
    height: 500px!important;
}
#blockTags{
    width: 100%;

    display: none;
    justify-content: flex-start;
    align-items: flex-start;
}
#blockTags p{
    font-size: 1.3em;
    text-align: left;
}
#blockTags hr{
    align-self: center;
}
#tags{
    /*input text for tags*/
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}
.tagRules{
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}
#blockAddTags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#blockAddTags > div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
#selectedTags > div, #recommendedTags > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
#blockSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#addSchoolPost input[type='submit'], #addPost input[type='submit']{
    display: none;
    margin-top: 20px;
    padding: 15px;
    width: 150px;
}
/*====================================================================================================================================
                                                            medium desktops laptops
====================================================================================================================================*/

@media all and (min-width:992px) and (max-width:1200px){
    #blockVideoLink{
        flex-direction: column;
    }
    .previewVideo{
        min-width: 70%;
        max-width: 90%;
        max-height: 100%;
    }
    #blockUploadFile > div{
        flex-direction: column;
        padding: 15px;
    }
    #blockUploadFile > div > div, #blockUploadFile div > figure, .newGroupedFileImg > div, .newGroupedFileImg > figure{
        width: 100%;
    }
}

/*====================================================================================================================================
                                                            medium device
====================================================================================================================================*/

@media all and (min-width:768px) and (max-width:992px){
    #addSchoolPost, #addPost{
        padding: 50px 0px;
    }
    #btnAddFolder, #btnAddFile{
        width: 35%;
    }
    #blockUploadType{
        height: 150px;
    }
    #blockUploadFile > div{
        flex-direction: column;
        padding: 15px;
    }
    #blockUploadFile > div > div, #blockUploadFile div > figure, .newGroupedFileImg > div, .newGroupedFileImg > figure{
        width: 100%;
    }
    #blockTags > p{
        font-size: 1em;
    }
    #blockAddTags{
        flex-direction: column;
    }
    #blockAddTags > div:first-of-type, #selectedTags{
        width: 100%;
    }
    #blockVideoLink{
        flex-direction: column;
    }
    .previewVideo{
        min-width: 70%;
        max-width: 90%;
        min-height: 250px;
        max-height: 100%;
    }
}

/*====================================================================================================================================
                                                            small device
====================================================================================================================================*/

@media all and (min-width:600px) and (max-width:768px){
    #addSchoolPost, #addPost{
        padding: 30px 0px;
    }
    #btnAddFolder, #btnAddFile{
        width: 35%;
    }
    #blockUploadType{
        height: 150px;
    }
    #blockUploadFile > div{
        flex-direction: column;
        padding: 15px;
    }
    #blockUploadFile > div > div, #blockUploadFile div > figure, .newGroupedFileImg > div, .newGroupedFileImg > figure{
        width: 100%;
    }
    #blockTags > p{
        font-size: 1em;
    }
    #blockAddTags{
        flex-direction: column;
    }
    #blockAddTags > div:first-of-type, #selectedTags{
        width: 100%;
    }
    #blockVideoLink{
        flex-direction: column;
    }
    .previewVideo{
        min-width: 80%;
        max-width: 90%;
        min-height: 200px;
        max-height: 100%;
    }
}

/*====================================================================================================================================
                                                            smartphone
====================================================================================================================================*/

@media all and (max-width:600px){
    #addSchoolPost, #addPost{
        padding: 10px 0px;
    }
    #addPost > form, #addSchoolPost > form {
        padding: 10px;
    }
    #btnAddFolder, #btnAddFile{
        width: 40%;
    }
    #fileTypeSelection figure{
        width: 25%;
    }
    #blockUploadType{
        height: 100px;
    }
    #blockUploadFile > div{
        flex-direction: column;
        padding: 15px;
    }
    #blockUploadFile > div > div, #blockUploadFile div > figure, .newGroupedFileImg > div, .newGroupedFileImg > figure{
        width: 100%;
    }
    #blockTags > p{
        font-size: 1em;
    }
    #blockAddTags{
        flex-direction: column;
    }
    #blockAddTags > div:first-of-type, #selectedTags{
        width: 100%;
    }
    #blockVideoLink{
        flex-direction: column;
    }
    .previewVideo{
        min-width: 90%;
        max-width: 90%;
        min-height: 150px;
        max-height: 100%;
    }
}