/* ---------------------------------------------------------- */
/* ------------------------- POST VIEW ---------------------- */
/* ---------------------------------------------------------- */
#viewPost, #viewFolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 100px 0;
}
#viewPost > article, #viewFolder > article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#viewPost > article > section, #viewFolder > article > section{
    height: 100%;
}
#viewPost > article > section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 80vh;
    background-color: #161617;
}
#viewPost hr, #viewFolder hr{
    margin: 30px 0;
    align-self: center;
}
/*author profile*/
#authorProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    word-wrap: break-word;
}
#authorProfile > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}
#authorProfile a{
    text-align: center;
    word-break: break-word;
    font-size: 1.2em;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}
#authorProfile > a{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*option list*/
#optionList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161617;
}
#optionList > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
#optionList > nav > ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    list-style-type: none;
}
#optionList > nav > ul:nth-of-type(2){
    justify-content: flex-end;
    padding: 0 15px 0 0;
}
#optionList li{
    color: #CF8B3F;
    font-size: 1.5em;
    cursor: pointer;
}
#optionList li i{
    margin: 0 10px;
}
#heart, #postOnFolder, #deletePost, #deletePost + a{
    z-index: 500;
}
#heart > i{
    transform: scale(0);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    margin-right: 10px;
}
#viewPost > article:nth-of-type(1) > section:nth-of-type(1){
    padding-top: 15px;
}
#viewPost > article:nth-of-type(1) > section:nth-of-type(1) div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#viewPost > article:nth-of-type(1) > section:nth-of-type(1) div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
}
#viewPost > article:nth-of-type(1) > section:nth-of-type(1) div > a > img{
    max-width: 100%;
    max-height: 100%;
}
#viewPost > article:nth-of-type(1) > section:nth-of-type(1) div > a > .fileCompressed{
    max-width: 60%;
    max-height: 60%;
}
i[class="fas fa-download"]{
    font-size: 3em;
}
.postIsOnFolder{
    margin: 10px 5% 10px auto;
    text-align: right;
    background-color: #161617;
    border: solid 1px #CF8B3F;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 5px 15px;
}
#warningMsg{
    text-align: right;
    color: #CF8B3F;
}
#directLink{
    text-align: right;
}
.emptyFolder{
    text-align: center;
}
/*block description*/
#blockDescription > h1{
    text-align: center;
}
#blockDescription > div{
    font-size: 1.2em;
}
#blockDescription > span{
    font-size: 1em;
}
/*section tags*/
#listTags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    background-color: #161617;
}
#listTags h2{
    color: #CF8B3F;
    align-self: flex-start;
}
#listTags > aside{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 5px;
    background-color: #161617;
    width: 96%;
}
/*section comments*/
#commentsAndRelatedPosts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}
/*comments*/
#blockComments{
    width: 70%;
    margin-top: 45px;
}
#msgComment{
    display: none;
}
#addComment{
    padding: 25px 0;
    border: none;
    background-color: transparent;
}
#addComment textarea{
    width: 95%;
    margin-bottom: 10px;
}
#blockComment > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.comment{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}
.comment > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.comment > div{
    width: 80%;
    padding: 10px;
    border-top: solid 1px #161617;
    border-left: solid 2px #161617;
    border-radius: 5px 0 0 0;
    position: relative;
}
.comment > div > a:first-of-type{/*comment author name*/
    font-size: 1.4em;
}
.comment > div > p:last-of-type{/*date publication*/
    margin: 0;
    text-align: right;
    font-size: 1.1em;
}
.comment > div > p:first-of-type{/*comment content*/
    word-break: break-all;
    font-size: 1.3em;
}
.reportComment{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #CF8B3F;
    cursor: pointer;
}
.comment > div:hover > .reportComment{
    display: inline;
}
.deleteComment{
    cursor: pointer;
    color: #CF8B3F;

}
.confirmDelete{
    cursor: pointer;
    display: none;
    color: red;
}
/*aside recommanded posts*/
#relatedPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
}
#relatedPosts h1{
    width: 100%;
    margin: 20px 0 0 0;
    padding: 10px 0;
    text-align: center;
    background-color: #161617;
    border-top: solid 1px #161617;
    border-left: solid 1px #161617;
    border-right: solid 1px #161617;
    border-radius: 5px 5px 0 0;
}
#relatedPosts > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #161617;
    padding: 5px 0;
    border: solid 1px #161617;
    border-radius: 0 0 5px 5px;
}
.postOnAside{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 130px;
    width: 30%;
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
}
.postOnAside:hover{
    background-color: #222224;
}
.postOnAside > img{
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
}
/* ------------------------------------------------------------ */
/* ------------------------- FOLDER VIEW ---------------------- */
/* ------------------------------------------------------------ */
#viewFolder > article > section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: min-content;
    background-color: #161617;
    padding: 0 0 50px 0;
    position: relative;
}
#viewFolder > article > section > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 70px auto 0 auto;
}
#authorProfile > div > a{
    text-align: center;
    word-break: break-word;
    margin-top: 10px;
}
#commentsAndRelatedPosts > aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 28%;
    margin-top: 25px;
}
#relatedPosts{
    width: 100%;
}
#blockDescription{
    margin: 25px auto 15px auto;
    max-width: 90%;
    display: flex;
}
#blockDescription #authorProfile{
    width: 500px;
    align-self: center;
}
#blockDescription #authorProfile + div{/*folder description*/
    flex: auto;
    align-self: center;
}
#blockDescription #authorProfile + div > h1{
    text-align: center;
}
.folderDatePublication{
    text-align: right;
}
.publicationDescription{
    background-color: #161617;
    padding: 5px;
    border-radius: 5px;
}
#viewFolder .post > figure > a{
    position: relative;
}

/******************/
/*******MODAL******/
/******************/
#modal #confirmDeletePost{
    display: none;
    width: 300px;
    height: auto;
    text-align: center;
    padding: 25px 50px;
}
#modal #confirmDeletePost > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
#modal #confirmDeletePost > div a{
    padding: 5px;
    background-color: #222224;
    color: #CF8B3F;
    font-weight: bolder;
    font-size: 1em;
    border: solid 2px #CF8B3F;
    border-radius: 10px;
}

/*====================================================================================================================================
                                                            medium desktops laptops
====================================================================================================================================*/

@media all and (min-width:992px) and (max-width:1200px){
    #commentsAndRelatedPosts{
        width: auto;
    }
    /*post view - list option and post*/
    #blockDescription #authorProfile{
        width: 30%;
    }
    #authorProfile > a{
        width: 160px;
        height: 160px;
    }
    #viewPost > article:nth-of-type(1) > section:nth-of-type(1){
        height: 500px;
    }
    /*post on aside*/
    .postOnAside{
        height: 80px;
        width: 32%;
    }
    #relatedPosts h1{
        font-size: 1.2em;
    }

    /*comment*/
    .comment > a{
        height: 100px;
        width: 100px;
    }
}

/*====================================================================================================================================
                                                            medium device
====================================================================================================================================*/

@media all and (min-width:768px) and (max-width:992px){
    #commentsAndRelatedPosts{
        width: auto;
    }
    #authorProfile > a{
        width: 140px;
        height: 140px;
    }
    #viewPost > article:nth-of-type(1) > section:nth-of-type(1){
        height: 400px;
    }
    /*post on aside*/
    #relatedPosts h1{
        font-size: 1em;
    }
    .postOnAside{
        width: 44%;
        height: 100px;
    }

    #blockDescription{
        flex-direction: column;
    }
    #blockDescription #authorProfile{
        width: 100%;
    }
    #blockDescription #authorProfile + div{
        width: 100%;
    }
    
    /* FOLDER VIEW*/
    #viewFolder #optionList{
        font-size: 0.8em;
    }

    /*comments*/
    .comment{
        flex-direction: column;
    }
    .comment > a{
        width: 80px;
        height: 80px;
    }
    .comment > div{
        width: 95%;
        margin-top: 10px;
    }
}

/*====================================================================================================================================
                                                            small device
====================================================================================================================================*/

@media all and (min-width:600px) and (max-width:768px){
    #commentsAndRelatedPosts{
        width: auto;
    }
    /*post view - list option and post*/
    #viewPost > article:nth-of-type(1) > section:nth-of-type(1){
        height: 300px;
    }
    #authorProfile > a{
        width: 120px;
        height: 120px;
    }

    /*block related posts and comments on folder view*/
    #viewFolder > article > section{
        padding: 10px 0;
    }
    #blockDescription{
        flex-direction: column;
    }
    #blockDescription #authorProfile{
        width: 100%;
    }
    #viewFolder #authorProfile{
        margin-top: 15px;
    }
    #blockDescription #authorProfile + div{
        width: 100%;
    }
    #blockDescription #authorProfile + div h1{
        font-size: 1em;
    }
    #viewFolder #commentsAndRelatedPosts > aside{
        width: 100%;
        order: 1;
        margin-top: 10px;
    }

    /*post on aside*/
    .postOnAside{
        width: 30%;
        height: 180px;
    }
    #relatedPosts h1{
        font-size: 1.2em;
    }

    /*comments*/
    .comment{
        flex-direction: column;
    }
    .comment > a{
        width: 60px;
        height: 60px;
    }
    .comment > div{
        width: 95%;
        margin-top: 10px;
    }
}

/*====================================================================================================================================
                                                            smartphone
====================================================================================================================================*/

@media all and (max-width:600px){
    #commentsAndRelatedPosts{
        width: auto;
    }
    #viewPost > article:nth-of-type(1) > section:nth-of-type(1){
        height: 250px;
    }
    #authorProfile > a{
        width: 100px;
        height: 100px;
    }

    /*block related posts and comments*/
    #commentsAndRelatedPosts{
        flex-direction: column;
        margin-top: 0;
    }
    #blockComments{
        width: 100%;
        order: 2;
    }
    #commentsAndRelatedPosts > aside{
        width: 100%;
        order: 1;
        margin-top: 30px;
    }

    /*block related posts and comments on folder view*/
    #viewFolder > article > section{
        padding: 10px 0;
    }
    #viewFolder > article > section > div{
        justify-content: space-around;
        margin: 30px auto 0 auto;
    }
    #blockDescription{
        flex-direction: column;
    }
    #blockDescription #authorProfile{
        width: 100%;
    }
    #viewFolder #authorProfile{
        margin-top: 15px;
    }
    #blockDescription #authorProfile + div{
        width: 100%;
    }
    #blockDescription h1{
        font-size: 1em;
    }
    #viewFolder #commentsAndRelatedPosts > aside{
        width: 100%;
        order: 1;
        margin-top: 10px;
    }

    /*post on aside*/
    .postOnAside{
        height: 130px;
        width: 130px;
    }
    #relatedPosts h1{
        font-size: 1.2em;
    }

    /*comments*/
    .comment{
        flex-direction: column;
    }
    .comment > a{
        width: 60px;
        height: 60px;
    }
    .comment > div{
        width: 95%;
        margin-top: 10px;
    }
}