/*
color :
    dark + : #010605
    dark : #161617
    dark - : #222224
    yellow : #FFC652
    yellow - : #CF8B3F

font :
    font-family: 'Slabo 27px', serif;
    font-family: 'Asap', sans-serif;
*/
body{
    margin: 0px;
    color: white;
    background-color: #222224;
    font-family: 'Slabo 27px', serif;
}
main{
    min-height: 80vh;
}
h1{
    font-size: 1.4em;
}
h2{
    font-size: 1.2em;
}
h1, h2{
    color: #CF8B3F;
}
h1, h2, h3, h4, h5, h6, caption{
    font-family: 'Asap', sans-serif;
}
section > h1{
    text-align: left;
}
.container{
    max-width: 90%;
    margin: auto;
}
.fullWidth{
    width: 100%;
}
a{
    text-decoration: none;
    color: #CF8B3F;

    font-family: 'Asap', sans-serif;
}
strong{
    font-weight: normal;
}
i{
    transform: scale(1.2);
}
ul{
    padding: 0;
}
hr{
    background : linear-gradient(to right, #161617, #FFC652, #161617);
    border:none;
    height: 1px;
    width: 90%;
}
#modal{
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.8);
}
#modal > div{
    width: 200px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 1px #CF8B3F;
    border-radius: 5px;
    padding: 50px 100px;
    background-color: #161617;
}
.orang{
    color: #CF8B3F;
}
.inactifLink{
    color: #FF3C38!important;
    cursor: default!important;
}
.blockStyleOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px #161617;
    border-radius: 5px;
    padding: 50px 100px;
    margin-top: 20px;
    background-color: #161617;
}
.hide{
    display: none;
}

/* ------------------------ FORM ------------------------ */
form{
    text-align: center;

    border: solid 1px #CF8B3F;
    border-radius: 5px;

    padding: 50px 100px;

    background-color: #161617;
}
input{
    padding: 5px;
    margin-left: 10px;

    border-radius: 5px;
    border: solid 2px #161617;
}
input:focus{
    outline: none;
    border: solid 2px #CF8B3F;
}
textarea{
    width: 70%;
    height: 100px;

    padding: 5px;

    border: solid 2px #161617;
    border-radius: 10px;

    resize: none;
}
textarea:focus{
    outline: none;
    border: solid 2px #CF8B3F;
}
input[type="submit"], input[type="button"]{
    padding: 5px;
    margin-left: 10px;

    background-color: #222224;
    color: #CF8B3F;

    font-weight: bolder;
    font-size: 1em;

    border: solid 2px #CF8B3F;
    border-radius: 10px;

    cursor: pointer;
}
input[type="checkbox"]{
    transform: scale(1.5);
    margin: 10px;
}
button{
    padding: 5px;
    margin-left: 10px;

    background-color: #222224;
    color: #CF8B3F;

    font-weight: bolder;
    font-size: 1em;

    border: solid 2px #CF8B3F;
    border-radius: 10px;

    cursor: pointer;
}
button:focus{
    outline: none;
}
/* ------------------------ TABLE ------------------------ */
table{
    border-collapse: collapse;

    width: 100%;
}
td{
    border: solid 1.5px #CF8B3F;
    padding: 15px;
}
td i{
    font-size: 0.7em;
}
tr:nth-child(2n + 1){
    background-color: #161617;
}
/* ------------------------ ERROR ------------------------ */
#msg{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}
#msg p{
    font-size: 1.5em;
}
#msg a, .msg a{
    text-decoration: underline;
}
.textCenter{
    text-align: center;
}

/* ------------------------ NAVBAR ------------------------ */
#navbar{
    background-color: #010605;
}
#navbar > .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#navbar > .container > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;
}
#navbar > .container > div:first-child > span:nth-child(1){ /*logo*/
    height: 100%;
    font-size: 1.5em;
    margin-left: 10px;
}
#navbar ul{
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar li{
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
}
#navbar i{
    font-size: 1.2em;
}
#navbar img{
    height: 100%;
}
.hrNavbar{
    width: 40px;
    height: 1px;

    border:none;

    background: linear-gradient(to right, #010605, #E0E7E6, #010605);

    transform: rotate(90deg);
}
#pseudo{
    cursor: pointer;
}
#pseudo i{
    color: #CF8B3F;

    margin-left: 15px;
}
/*menu*/
#menuNavbar{
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1000;

    overflow: hidden;
    height: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menuNavbar > div{
    border: solid 1px #CF8B3F;
    border-top: none;
    border-radius: 10px;

    width: 100%;

    position: relative;
    top: -400px;
    transition: top 0.2s linear;
    -webkit-transition: top 0.2s linear;
    background: linear-gradient(180deg, #010605, #161617, #222224);
}
#menuNavbar ul{
    flex-direction: column;
    align-items: flex-end;

    width: 100%;

    font-size: 0.8em;
}
#menuNavbar li{
    padding: 2px 0;
    width: 100%;
    text-align: right;
}
#menuNavbar a{
    display: inline-block;
    width: 100%;
    color: white;
}
#menuNavbar i{
    color: #CF8B3F;
    margin-left: 15px;
    font-size: 0.8em;
}

/* ------------------------ FOOTER ------------------------ */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    background-color: #161617;
    padding: 70px 0px;
}
footer section{
    width: 85%
}
footer section > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
}
footer article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 30%;
}
footer ul{
    list-style: none;
}
#contact ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}
#linksList > div{
    display: flex;
    justify-content: space-around;

    width: 100%;
}
#linksList > div ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#linksList > div li{
    width: 50%;
    margin-top: 10px;
}
#contact h3{
    margin-bottom: 50px;
}
#contact i{
    font-size: 2.5em;
}
.hrFooter{
    align-self: center;

    width: 10%;
    height: 1px;
    border: none;

    background: linear-gradient(to right, #161617, #E0E7E6, #161617);
    transform: rotate(90deg);
}

/* ------------------------------------------------------ */
/* ------------------------ HOME ------------------------ */
/* ------------------------------------------------------ */
#home .blockStyleOne{
    padding: 30px 100px 50px 100px;
}
/*SLIDERS POSTS*/
#home{
    background-color: #161617;
    min-height: 80vh;
}
#home .blockStyleOne{
    background-color: #222224;
}
#home .slide{
    flex-wrap: nowrap;
}
#home .items{
    height: 200px;
}
.sliderPosts{
    padding: 50px 0;
}
.sliderPosts > a{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.sliderPosts > h1{
    margin-top: 0;
    padding-top: 25px;
}
.sliderPosts hr{
    margin-bottom: 0px;
}
.sliderPosts .posts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
}
.slider{
    display: flex;
    width: 100%;
    position: relative;
    left:0;
    transition: left 0.3s ease-out;
    -webkit-transition: left 0.3s ease-out;
}
.slide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 90%;
    min-height: 200px;
    margin: 20px 0;
    padding: 0 5%;
}
.items{
    width: 20%;
    margin: 10px 0 0 0;
    border-radius: 15px;
    position: relative;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.items:hover{
    background-color: #222224;
}
figure{
    height: 300px;
    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
figure a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure img{
    max-width: 90%;
    max-height: 90%;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    z-index: 1000;
    cursor: pointer;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.arrow:hover{
    border-left: solid 1px #CF8B3F;
}
.arrow > i{
    font-size: 1.5em;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
.arrow:hover > i{
    font-size: 2.5em;
    color: #CF8B3F;
}
.arrowLeft{
    position: absolute;
    left: 0px;
    top: 0px;
}
.arrowRight{
    position: absolute;
    right: 0px;
    top: 0px;

    transform: rotate(180deg);
}
/* ----------------------------------------------------------------- */
/* ------------------------------ FAQ ------------------------------ */
/* ----------------------------------------------------------------- */
#blockFaq{
    padding: 100px 0;
}
/* ------------------------------------------------------ */
/* ------------------------ SEARCH ---------------------- */
/* ------------------------------------------------------ */
#searchView{
    padding-top: 50px;
}
#homeSearch, #alsoSee{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}
#searchView > h2{
    margin-top: 50px;
}
#homeSearch > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 200px;
    border-radius: 5px;
    background-color: #161617;
}
#alsoSee > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 5px;
    background-color: #161617;
}
#searchView h3{
    color: #CF8B3F;
}
#searchView h2{
    font-size: 1.2em;
}
#searchByKeyWord h2 + form{
    margin-top: 30px;
}
#formSearchByKeyWord{
    padding: 10px;
}
#frequentlySearched > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#frequentlySearched > div > a{
    margin: 7px 0;
    padding: 3px 0;
    border: solid 1px #CF8B3F;
    border-radius: 5px;
    text-align: center;
}
#advancedSearch > p:last-of-type{
    border: solid 1px #CF8B3F;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    background-color: #222224;
}
/*result of search by key word*/
.blockResult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.blockResult a{
    width: 100%;
    position: relative;
}
.figureProfilePicture{
    height: 100%;
    margin : 0;
    background-color: #161617;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.figureProfilePicture > div{
    width: 90%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figureProfilePicture img{
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
.figureProfilePicture figcaption{
    font-size: 1.4em;
    word-break: break-word;
    padding: 5px;
}
.blockResultUser > div, .blockResultSchool > div, .blockResultPost > div{
    width: 19.5%;
    height: 300px;
    margin: 20px 2.5%;
    border-radius: 5px;
    overflow: hidden;
}
.blockResultSchool > div{
    width: 44.8%;
}
.blockResultSchool .figureProfilePicture{
    flex-direction: row;
}
.blockResultSchool .figureProfilePicture > div{
    width: 40%;
}
.blockResultTag > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 80px;
}
#searchView .tag{
    background-color: #161617;
}
/*result for quick search*/
#resultQuickSearch{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#resultQuickSearch figure{
    width: 20%;
    margin: 0 2.5%;
    position: relative;
}
#pagingQuickSearch ol{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagingQuickSearch li{
    margin: 20px 5px;
    list-style-type: none;
}
.actualPage{
    font-weight: bolder;
    font-size: 1.5em;
}
/* -------------------------------------------------------------- */
/* ------------------------ LIST SCHOOLS ------------------------ */
/* -------------------------------------------------------------- */
#listSchoolsView h1, #listSchoolsView h2{
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
#schoolInformation{
    display: none;
}
#linkSchoolProfile{
    font-size: 1.3em;
    text-align: right;
}
#adminSection, #moderatorSection, #studentSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
/* ----------------------------------------------------------- */
/* ------------------------ LIST TAGS ------------------------ */
/* ----------------------------------------------------------- */
#listTagsView{
    padding: 100px 0;
}
#listTagsView .blockResultTag{
    background-color: #161617;
    padding: 20px 0;
    border-radius: 5px;
}
#listTagsView .blockResultTag a{
    width: auto;
}
.tagsCategory{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagsCategory h2{
    padding: 40px 0;
}
/* ----------------------------------------------------------------- */
/* ------------------------ ADVANCED SEARCH ------------------------ */
/* ----------------------------------------------------------------- */
#advancedSearchView{
    padding: 100px 0;
}
#advancedSearchView h1, #advancedSearchView h2{
    padding-bottom: 20px;
}
#advancedSearchView input[type="radio"]{
    display: none;
}
#advancedSearchView input[type="radio"] + label{
    border-radius: 5px;
    background-color: #222224;
    padding: 10px;
    margin: 15px;
    font-size: 1.5em;
    overflow: hidden;
    word-break: break-word;
    cursor: pointer;
}
#advancedSearchView input[type="radio"] + label:hover{
    color: #CF8B3F!important;
}
#formAdvancedSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#formAdvancedSearch #blockFilterBySchool i[class~="fa-times"]{
    font-size: 2em;
}
#formAdvancedSearch > div{
    padding: 50px 0;
    margin-bottom: 20px;
}
#formAdvancedSearch > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#blockFilterBySchool input[type="radio"] + label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 200px;
    padding: 5px;
}
#blockFilterBySchool input[type="radio"] + label > div{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blockFilterBySchool input[type="radio"] + label img{
    max-height: 80%;
    max-width: 80%;
}
#formAdvancedSearch #blockFilterBySchool > div{
    justify-content: space-around;
    flex-wrap: wrap;
}
#blockSortBy > div{
    justify-content: space-around;
}
#blockSortWithTag > div{
    display: flex;
    flex-direction: row;
}
#blockSortWithTag > div > div:nth-of-type(1), #blockSortWithTag > #selectedTag{
    width: 49%;
}
#blockFilterAdvancedSearch{
    margin-bottom: 20px;
}
#blockFilterAdvancedSearch .tag{
    cursor: default;
}
#pagingQuickSearch li{
    cursor: pointer;
    color: #CF8B3F;
}
/* ------------------------------------------------------------------------ */
/* ------------------------ SIGN IN / SIGN UP FORM ------------------------ */
/* ------------------------------------------------------------------------ */

#signIn, #signUp{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*sign up*/
#formSignUp{
    height: 400px;
    border-radius: 5px;
}
#formSignUp label{
    margin-left: 10px;
}
#formSignUp > div{
    width: 100%;
}
#formSignUp > div > div{
    display: flex;
    justify-content: center;
}
#formSignUp > div > div:last-of-type{
    flex-direction: column;
}
#formSignUp #postIsAffiliated{
    display: inline;
}
#postAffiliationCode{
    overflow: hidden;
    height: 0px;
    margin: 0px;

    transition: height 0.2s linear, margin 0.2s linear;
    -webkit-transition: height 0.2s linear, margin 0.2s linear;
}
#formSignUp p{
    display: flex;
    flex-direction: column;
}
#postAffiliationCode, #formSignUp input[type='submit']{
    width: 170px;
    align-self: center;
}
/*sign In*/
#signIn #modal > div{
    width: 300px;
    height: 300px;
}
#signIn #modal > div > p:first-child{
    font-size: 1.2em;
    color: #CF8B3F;
}

/* ------------------------ PROFIL ------------------------ */

#banner{
    width: 100%;
    min-height: 200px;
    position: relative;
}
#banner img{
    width: 100%;
}
#colorFade{
    position: relative;
    top: -100px;

    width: 100%;
    height: 100px;

    background: linear-gradient(to bottom, transparent, #222224 70px);
}
#profile{
    position: relative;
    top: -150px;
}
#profile .inactiveSchool{
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
}
#profile > header{
    display: flex;
    max-height: 500px;
}
#profile > header > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#profile > header > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 30px;
    width: 100%;
}
#profile > header span, #profile > header a{
    font-size: 1.5em;
    margin-top: 20px;
    color: white;
}
#profile > header span{
    font-size: 2em;
}
.widePicture{
    width: 100%;
    max-height: 100%;
}
.highPicture{
    max-width: 100%;
    height: 100%;
}
.smallPicture{
    min-width: 170px;
    width: 170px;
    max-height: 170px;
    top: -90px;
}
.mediumPicture{
    min-width: 300px;
    width: 300px;
    max-height: 300px;
    top: -120px;
}
.bigPicture{
    min-width: 500px;
    width: 500px;
    max-height: 500px;
    top: -150px;
}
.elemStart{
    align-self: flex-start;
}
.elemCenter{
    align-self: center;
}
.elemEnd{
    align-self: flex-end;
}

/*slide tab*/
#blockTabs{
    display: flex;
}
#profile nav{
    display: flex;
    justify-content: space-between;
}
#blockTabs li{
    cursor: pointer;
    list-style: none;
    font-size: 1.3em;
    padding: 6px 12px;
    margin-left: 10px;

    color: white;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
#blockTabs li:hover{
    color: #CF8B3F;
}
#blockTabsEditProfile{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}
#blockTabsEditProfile li{
    list-style: none;
}
.tabsStyleOne{
    margin: 25px 0 0 25px;
}
.tabsStyleOne li{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#slideTab{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
#slideTab > div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: min-content;
    border-radius: 15px;
    background-color: #161617;
    padding: 50px 0;

    position: relative;
    left: 0%;
}
#slideTab > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 95%;
}
.alreadyBan{
    color: red!important;
    border: solid 1px red!important;
    cursor: default!important;
}
#tabProfile i, #tabNews i, #tabPublication i, #tabPrivatePublication i, #tabAbout i{
    position: absolute;
    left: 5px;
    top: 5px;
}
.blockContentProfile, .blockContentNews, .blockContentAbout{
    position: relative;
    min-width: 30%;
    border-radius: 15px;
    margin: 15px 0;
    padding: 0 10px;
    word-wrap: break-word;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
.blockContentProfile:hover, .blockContentNews:hover, .blockContentAbout:hover{
    background-color: #222224;
}
.blockContentProfile img, .blockContentNews img, .blockContentAbout img{
    max-width: 100%!important;
}
/*editing*/
#blockMenuEditingTop{
    display: flex;
    width: 100%;
    height: 0px;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1500;

    background-color: #161617;

    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
#blockMenuEditingTop > div{
    display: flex;
    align-items: center;
    
    height: 80px;
    width: 100%;

    overflow: hidden;
    position: absolute;
    top: -160px;
    left: 0px;

    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
.iconeEdit{
    z-index: 500;
    cursor: pointer;

    margin: 10px;
    padding: 10px 10px;
    border: solid 1px #161617;
    border-radius: 20px;

    color: #CF8B3F;
    background-color: #161617;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.iconeEdit:hover{
    border: solid 1px #CF8B3F;
}
a[class="iconeEdit"]{
    display: inline-block;
}
#tabPublication .iconeEdit, #tabPrivatePublication .iconeEdit{
    display: inline-block!important;
}
#banner i{
    position: absolute;
    bottom: 100px;
    left: 20px;
}
#profile > header > div:first-child i, #profile > header > div:nth-of-type(2) i{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.editable > .iconeEdit{
    display: none;
}
.editing{
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    background-color: #222224;
}
.editing:hover{
    transform: scale(0.98);
}
.editing > .iconeEdit{
    background-color: transparent;
    border: none;
}
.editing:hover .iconeEdit{
    background-color: #161617;
    border: solid 1px #CF8B3F;
}
.contentMenuEdit form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border : none;
    padding: 0;
    height: 100%;
}
.contentMenuEdit form p{
    height: 100%;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*menu edit picture profile*/
#contentMenuEditProfilePicture hr:nth-of-type(1) + p{
    text-align: left;
}
/*menu edit text*/
#contentMenuEditText > form{
    flex-wrap: wrap;
}
#contentMenuEditText > form > div{
    width: auto;
    height: 80px;
    margin: 0 5px;
    flex-direction: row;
    align-items: center;
}
#contentMenuEditText input[type="radio"]{
    margin: 0;
}
#contentMenuEditText label{
    height: 80%;
    width: 125px;
}
#contentMenuEditText label img{
    max-width: 100%;
    height: 100%;
}
/*edit section profile*/
#align{
    align-self: center;
    margin: 0;
}
#contentMenuEditBlock > form > div:nth-of-type(2){
    display: none;
}
#contentMenuEditBlock > form > div:first-of-type > div:first-of-type, #contentMenuEditBlock > form > div:nth-of-type(2) > div:first-of-type{
    margin-top: 15px;
}
#blockProfileListOrder, #blockNewsListOrder, #blockAboutListOrder{
    display: none;
}
.blockTuto > p > i{
    position: initial!important;
    margin: 0 5px;
}
.contentAloneInRow{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#blockToDelete{
    flex-direction: row;
    width: 100px;    
}
#blockToDelete i{
    color: #CF8B3F;
    border: solid 2px #CF8B3F;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}
#blockToDelete i:hover{
    color: red;
}
.small{
    width: 30%;
}
.medium{
    width: 60%;
}
.big{
    width: 99%;
}
/*modal*/
#blockProfile + #modal{
    z-index: 750;
}
#blockProfile + #modal form{
    padding: 25px 0;
}
#blockProfile + #modal form > div{
    width: auto;
    max-width: 90%;
}
#tinyMCEtextarea + div{
    min-height: 65vh;
}
#warningBeforeDelete{
    display: none;
}
.modalButtons{
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}
/*publication*/
#tabPublication > div:first-of-type, #tabPrivatePublication > div:first-of-type{
    justify-content: flex-start;
}
.post, .folder{
    width: 33.3%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.folder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}
.folder > .post, .folder > .folder{
    width: 0%;
}
.folder figure{
    cursor: pointer;
}
.folder > div:first-of-type > figure > div{
    width: 100%;
    height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post figure, .folder figure{
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.post:hover figure, .folder:hover figure{
    background-color: #222224;
    border-radius: 15px;
}
#tabPublication .post > figure > a, #tabPrivatePublication .post > figure > a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#tabPublication .folder > figure > div, #tabPrivatePublication .folder > figure > div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.iconeVideo{
    z-index: 500;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.7;
    width: 45px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}
figure:hover .iconeVideo{
    opacity: 1;
    width: 30%;
}
.thumbnailFolder{
    z-index: 500;
    position: absolute;
    bottom: 10%;
    border-radius: 20px;
    max-width: 80%;
    max-height: 60%;
}
.postOnAside .thumbnailFolder{
    border-radius: 5px;
    max-width: 75%;
}
.thumbnailFolder + img{
    height: 100%;
    max-width: 100%;
}
.previewTitle{
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.2em;
    color: #CF8B3F;
    background-color: #161617;
    text-align: center;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
a:hover > .previewTitle, div:hover > .previewTitle{
    padding :5px 0;
    background-color: transparent;
    color: white;
}
.post img[src='public/images/fileOther.png']{
    max-height: 75%;
}
/*---------------------add post / add school post----------------------*/
#addSchoolPost, #addPost{
    padding: 100px 0px;
}
#addSchoolPost hr, #addPost hr{
    margin: 50px 0;
}
#addSchoolPost figcaption, #addPost figcaption{
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
}
#blockUploadType{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}
#btnAddFolder, #btnAddFile{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
#btnAddFolder img, #btnAddFile img{
    max-width: 100%;
}
#blockAddFile{
    display: none;
    width: 100%;
    margin: 35px 0;
}
#fileTypeSelection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#fileTypeSelection input{
    display: none;
}
#fileTypeSelection figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
    height: 100%;
    width: 20%;
}
#fileTypeSelection label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}
#fileTypeSelection label img{
    cursor: pointer;
    width: 50%;
    height: 100%;
}
#blockIsPrivate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#blockIsPrivate > div{
    margin-bottom: 10px;
}
#blockIsPrivate > div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
}
#authorizedGroups{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 48%;
    min-height: 80px;
}
.authorizedGroup{
    color: #CF8B3F;
    border: solid 2px #CF8B3F;
    border-radius: 10px;
    padding: 4px 6px;
    margin: 5px;
}
.authorizedGroup i{
    margin-left: 5px;
}
#blockIsPrivate > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#blockIsPrivate > div > div:nth-of-type(2){
    display: none;
    justify-content: center;
    align-items: center;
}
#blockIsPrivate label{
    color: #CF8B3F;
    font-size: 1.5em;
    margin-right: 35px;
}
#blockTitle, #blockVideoLink{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
#blockTitle input, #blockVideoLink input{
    width: 500px;
}
#blockUploadFile{
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#blockUploadFile > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#blockUploadFile > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #CF8B3F;
    border-radius: 20px;
    width: 40%;
    min-height: 100px;
    overflow: hidden;
}
#blockUploadFile div > figure{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40%;
    min-height: 100px;
}
#blockUploadFile #preview{
    display: none;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#blockUploadFile #preview img{
    max-width: 90%;
    max-height: 90%;
}
#uploadFile{
    max-width: 90%;
}
#blockTinyMce{
    width: 100%;
    display: none;
}
#blockTags{
    width: 100%;

    display: none;
    justify-content: flex-start;
    align-items: flex-start;
}
#blockTags p{
    font-size: 1.3em;
    text-align: left;
}
#tags{
    /*input text for tags*/
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}
.tagRules{
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}
#blockAddTags{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#blockAddTags > div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#selectedTags{
    display: none;
    width: 50%;
}
#recommendedTags{
    display: none;
    width: 100%;
}
#selectedTags > div, #recommendedTags > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.tag{
    border: solid 1px #CF8B3F;
    border-radius: 5px;
    background-color: #222224;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}
.tag i{
    padding: 4px 6px;
    color: red;
    border: solid 2px #CF8B3F;
    border-radius: 10px;
    transform: scale(0.7);
}
#blockSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#errorMsg{
    opacity: 0;
    color: red;
    font-size: 1.2em;

    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
}
#addSchoolPost input[type='submit'], #addPost input[type='submit']{
    display: none;
    margin-top: 20px;
    padding: 15px;
    width: 150px;
}
/* ---------------------------------------------------------- */
/* ------------------------- POST VIEW ---------------------- */
/* ---------------------------------------------------------- */
#viewPost, #viewFolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 100px 0;
}
#viewPost > article, #viewFolder > article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}
#viewPost > article{
    height: 80vh;
}
#viewPost > article > section, #viewFolder > article > section{
    height: 100%;
}
#viewPost > article > section:first-of-type, #viewFolder > article > section:first-of-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#viewPost > article > section:first-of-type{
    flex-direction: column;
    width: 23%;
}
#viewPost hr, #viewFolder hr{
    margin: 30px 0;
    align-self: center;
}
/*author profile*/
#authorProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 78%;
    background-color: #161617;
    border-radius: 15px;
    word-wrap: break-word;
}
#authorProfile > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}
#authorProfile a{
    font-size: 1.2em;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}
#authorProfile > a{
    max-width: 90%;
    max-height: 70%;
}
#authorProfile img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
/*option list*/
#optionList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    background-color: #161617;
    border-radius: 15px;
}
#optionList > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#optionList ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    position: relative;
}
#optionList li{
    color: #CF8B3F;
    font-size: 2em;
    cursor: pointer;
}
#optionList #heart{
    font-size: 3em;
}
#heart, #postOnFolder, #deletePost, #deletePost + a{
    z-index: 500;
}
#heart > i{
    transform: scale(0);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}
#nbLike > span > i[class~="fa-heart"]{
    color: red;
    margin : 0 0 5px 8px;
}
#heart + #nbLike{
    cursor: default;
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: 1em;
}
#confirmDeletePost{
    display: none;
    color: red;
}
#viewPost > article > section:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73%;
}
#viewPost > article > section:nth-of-type(2) > a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: 90%;
}
#viewPost > article > section:nth-of-type(2) .fileImage{
    max-width: 100%;
    max-height: 100%;
}
#viewPost > article > section:nth-of-type(2) .fileCompressed{
    max-width: 60%;
    max-height: 60%;
}
i[class="fas fa-download"]{
    font-size: 3em;
}
.postIsOnFolder{
    width: 30%;
    margin: 0 0 0 auto;
    text-align: center;
    background-color: #161617;
    border: solid 1px #CF8B3F;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 5px 0;
}
#warningMsg{
    text-align: right;
    color: #CF8B3F;
}
#directLink{
    text-align: right;
}
.emptyFolder{
    text-align: center;
}
/*block description*/
#blockDescription > h1{
    text-align: center;
}
#blockDescription > div{
    font-size: 1.2em;
}
#blockDescription > span{
    font-size: 1em;
}
/*section tags*/
#listTags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
#listTags h2{
    color: #CF8B3F;
    align-self: flex-start;
}
#listTags > aside{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 5px;
    background-color: #161617;
    width: 96%;
}
/*section comments*/
#commentsAndRelatedPosts{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
}
/*comments*/
#blockComments{
    width: 73%;
}
#msgComment{
    display: none;
}
#addComment{
    padding: 25px 0;
    border: none;
    background-color: transparent;
}
#addComment textarea{
    width: 95%;
    margin-bottom: 10px;
}
#blockComment > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.comment{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}
.comment > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 150px;
    border-top: solid 1px #CF8B3F;
    border-bottom: solid 1px #CF8B3F;
    border-radius: 10px;
    overflow: hidden;
}
.comment > a > img{
    max-width: 90%;
    max-height: 90%;
}
.comment > div{
    width: 80%;
    padding: 10px;
    background-color: #161617;
    border-radius: 10px;
    position: relative;
}
.comment > div > a:first-of-type{/*comment author name*/
    font-size: 1.4em;
}
.comment > div > p:last-of-type{/*date publication*/
    margin: 0;
    text-align: right;
    font-size: 1.1em;
}
.comment > div > p:first-of-type{/*comment content*/
    word-break: break-all;
    font-size: 1.3em;
}
.reportComment{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: #CF8B3F;
    cursor: pointer;
}
.comment > div:hover > .reportComment{
    display: inline;
}
.deleteComment{
    cursor: pointer;
    color: #CF8B3F;

}
.confirmDelete{
    cursor: pointer;
    display: none;
    color: red;
}
/*aside recommanded posts*/
#relatedPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
}
#relatedPosts h1{
    margin-bottom: 50px;
}
#relatedPosts > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.postOnAside{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 33%;
    margin: 5px 0 0 0;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
}
.postOnAside:hover{
    background-color: #161617;
}
.postOnAside > img{
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
}
/* ------------------------------------------------------------ */
/* ------------------------- FOLDER VIEW ---------------------- */
/* ------------------------------------------------------------ */
#viewFolder > article{
    flex-direction: column;
}
#viewFolder > article > section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: min-content;
    border-radius: 15px;
    background-color: #161617;
    padding: 50px 0;
    position: relative;
}
#viewFolder > article > section > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
}
#viewFolder #authorProfile{
    margin-top: 50px;
    background-color: transparent;
    align-self: flex-start;
}
#viewFolder #authorProfile > a{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
}
#viewFolder #authorProfile > div{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#viewFolder #authorProfile > div > a{
    margin-top: 10px;
}
#viewFolder #optionList{
    width: 70%;
    border: solid 3px #161617;
    background-color: transparent;
}
#viewFolder #commentsAndRelatedPosts > aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 25%;
    margin-top: 50px;
}
#viewFolder #relatedPosts{
    width: 100%;
}
#viewFolder #heart + #nbLike{
    top: -50px;
    right: 0;
}
#viewFolder #confirmDeletePost{
    text-align: center;
}
#viewFolder #blockDescription{
    margin: 20px 0;
}
#viewFolder .post > figure > a{
    position: relative;
}
/* ------------------------------------------------------------ */
/* ------------------------ REPORT VIEW ----------------------- */
/* ------------------------------------------------------------ */
#reportView > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding-top: 100px;
    border: solid 1px #CF8B3F;
    border-radius: 5px;
    background-color: #161617;
}
#reportView form{
    margin-bottom: 100px;
}
#reportView li{
    font-size: 1.2em;
    list-style-type: none;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}
#reportView .tox-tinymce{
    width: 100%;
}
#reportView .blockStyleOne{
    font-size: 1.3em;
    padding: 50px 0;
}
#btnDeleteReportsFromElem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#btnDeleteReportsFromElem > p{
    font-size: 1.4em;
    color: #CF8B3F;
    background-color: #161617;
    border: solid 1px #CF8B3F;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    z-index: 500;
}
#btnDeleteReportsFromElem i{
    color: green;
    background-color: #161617;
    border: solid 1px #CF8B3F;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}
.moderatReportsFromElem > p:first-of-type{
    text-decoration: underline;
}
/* -------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- ADMIN ---------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------ LOGIN FORM ------------------------ */
form > div{
    width: 300px;
    margin: auto;

    display: flex;
    flex-direction: column;
}

#homeAdmin, #resetPassword{
    padding: 100px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#homeAdmin{
    flex-direction: column;
}

#formForgetPassword{
    display: none;
}

#resetPassword > div{
    text-align: center;

    border: solid 2px #161617;
    border-radius: 5px;

    padding: 50px 100px;

    background-color: #161617;
}

#formConnect > div > p:first-child, #formConnect > div > p:nth-child(2){
    display: flex;
    justify-content: space-between;
}

#buttonForgetPassword, #buttonCancel{
    cursor: pointer;
    text-decoration: underline;

    margin-left: 10px;
}
/*modal for cookies rules*/
#homeAdmin #modal > div{
    width: 300px;
    height: 300px;
}
#homeAdmin #modal > div > p:first-child{
    font-size: 1.2em;
    color: #CF8B3F;
}

/* ------------------------ MENU HOME ------------------------ */
#menuHome{
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menuHome > a{
    width: 24%;
}
.itemHomeAdmin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    background: linear-gradient(to bottom, #161617 10px, transparent, #161617 290px);
}
.itemHomeAdmin i{
    color: #CF8B3F;
    transform: scale(3);
}
.itemHomeAdmin > span{
    font-size: 1.5em;
    text-align:  center;
    margin: 0px 15px;
}
#slowSlide{
    height: 250px;
    width: 100%;
}
#slowSlide figure{
    height: 150px;
}
#slowSlide .items{
    max-width: 20%;
}
#slowSlide > div:first-of-type{
    display: flex;
    flex-direction: column;
}
#slowSlide > div:first-of-type a{
    text-align: right;
}
/* ------------------------ MANAGE CONTRACT ------------------------ */
#blockManageContract{
    padding: 50px 0 100px 0;
}
#blockManageContract .blockStyleOne{
    padding: 0;
}
/* ------------------------ MODERAT - EDIT SCHOOL ------------------------ */
#blockModeratSchool, #blockEditSchool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
#blockModeratSchool > article{
    width: 100%;
}
#blockModeratSchool .blockSchool > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#blockModeratSchool .blockSchool > div:nth-child(2) > span{
    text-align: left;
    width: 100%;
    padding: 20px 0;
}
/*--home moderat school--*/
#homeModeratSchool{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#homeModeratSchool > a{
    border: solid 2px #161617;
    border-radius: 5px;
    width: 30%;
}

/*--add school--*/
#formAddSchool{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 100%;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
}
#formAddSchool > div{
    justify-content: center;
    align-items: center;
    min-width: 100%;
}
#formAddSchool > div:nth-of-type(2), #formAddSchool > div:nth-of-type(3){
    display: none;
}
#formAddSchool > div > div > p{ /*block input text*/
    display: flex;
    justify-content: space-between;
}
#formAddSchool > div:first-of-type > div > p:last-of-type{
    justify-content: center;
}

/*--moderat - edit school--*/
#moderatSchool, #editSchool{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.inactiveSchool{
    background-color : #932C25!important;
}
.blockSchool{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px 0;
}
.blockSchool > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blockSchool > div:first-child{/*block with icon and school name*/
    background: linear-gradient(to bottom, #161617 10px, transparent, #161617 290px);
    border: solid 2px #161617;
    border-radius: 5px;
}
.blockSchool > div:first-child > div{
    width: 33%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockSchool figure{
    height: 130px;
    overflow: hidden;
}
.blockSchool figure img{
    min-height: 100%;
    max-width: none;
}
.blockSchool i{
    color: #CF8B3F;
    transform: scale(2.5);
    cursor: pointer;
}
.blockSchool .fa-caret-square-up{
    display: none;
}
/*form to edit*/
.blockSchool td{
    text-align: center;
}
.blockSchool td form{
    padding: 10px;
    border : none;
    background-color: transparent;
}
.blockSchool td form input[type='submit']{
    margin: 0;
    border : solid 1px;
    font-weight: normal;
}
.blockSchool table tr > td:first-child{
    color: #CF8B3F;
    font-weight:bold;
}
.blockSchool table tr > td:first-child, .blockSchool table tr > td:nth-child(2){
    width: 42%;
}
.blockSchool table tr > td:last-child{
    width: 16%;
}
/*modal*/
#blockModeratSchool + #modal > form > div > p, #blockModeratSchool + #modal > form > div > div{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#blockModeratSchool + #modal > form > div > p:last-of-type{
    display: block;
}
/* ----------------------------------------------------------------- */
/* ------------------------ MODERAT WEBSITE ------------------------ */
/* ----------------------------------------------------------------- */
#blockModeratWebsite article{
    margin: 50px 0;
}
#blockWarnBan, #blockContract, #blockUnusedImgTag{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
/* ------------------------ MODERAT ADMIN / MODERATOR ------------------------ */    
#blockModeratAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
#moderatAdmin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#moderatAdmin .blockSchool{
    width: 80%;
}
.tableAdminModerator{
    flex-wrap: wrap;
}
#moderatAdmin table{
    margin-top: 20px;
}
#moderatAdmin th{
    color: #CF8B3F;
}

/*table admin*/
.tableAdminModerator table a{
    color: white;
}
.tableAdminModerator > table:first-child td:first-child{
    width: 80%;
    color: white;
    font-weight: normal;
}
.tableAdminModerator > table:first-child td:nth-child(2){
    width: 20%;
}
/*table moderator*/
.tableAdminModerator > table:nth-child(2) td:first-child{
    width: 60%;
    color: white;
    font-weight: normal;
}
.tableAdminModerator > table:nth-child(2) td:nth-child(2){
    width: 13.33%;
}
.tableAdminModerator > table:nth-child(2) td:nth-child(3){
    width: 13.33%;
}
.tableAdminModerator > table:nth-child(2) td:nth-child(4){
    width: 13.33%;
}
/*form add moderator*/
.formAddModerator{
    width: 100%;
    margin-top: 20px;
    padding: 0px;

    transition: padding 0.2s linear;
    -webkit-transition: padding 0.2s linear;
}
.formAddModerator > p{
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2em;
}
.formAddModerator > div:first-of-type{
    width: auto;
    height: 0px;

    overflow: hidden;
    transition: height 0.2s linear;
    -webkit-transition: height 0.2s linear;
}
.formAddModerator > div:first-of-type > div:first-of-type{
    display: flex;
}
.formAddModerator > div:first-of-type > div:first-of-type > p{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.blockMsg{
    font-size: 1.2em;
    position: relative;
}
.blockMsg .fa-times{
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 0.7em;
    cursor: pointer;
}
/* ------------------------ MODERAT USERS ------------------------ */
#blockModeratUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
#moderatUsers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#moderatUsers .blockSchool > div:nth-of-type(2){
    flex-wrap: wrap;
}
#moderatUsers table{
    margin-top: 20px;
}
#moderatUsers th{
    color: #CF8B3F;
}
#moderatUsers caption{
    border: solid 2px #161617;
    border-radius: 5px;

    padding: 20px 0px;

    font-size: 1.5em;
    color: #CF8B3F;
}
/*table active - inactive users*/
#moderatUsers .blockSchool > div:nth-of-type(2) > table th:first-child{
    border-right: solid 1px #CF8B3F;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table th:nth-child(2){
    border-right: solid 1px #CF8B3F;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table th:nth-child(3){
    border-right: solid 1px #CF8B3F;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table th:nth-child(4){
    border-right: solid 1px #CF8B3F;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table td:first-child{
    width: 30%;
    color: white;
    font-weight: normal;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table td:nth-child(2){
    width: 30%;
}
.btnEditGroup{
    cursor: pointer;
    color: #CF8B3F;
}
.listEditGroup{
    display: none;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table td:nth-child(3){
    width: 13%;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table td:nth-child(4){
    width: 13%;
}
#moderatUsers .blockSchool > div:nth-of-type(2) > table td:nth-child(5){
    width: 13%;
}
/*form add group*/
.formAddGroup{
    padding: 0;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.formAddGroup > p{
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2em;
}
.formAddGroup > div:first-of-type{
    height: 0px;
    width: 100%;

    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.formAddGroup > div:last-of-type{
    display: none;
    width: 100%;

    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
.formAddGroup i[class~='fa-times']{
    font-size: 0.6em;
    margin: 5px;
}
/*list group*/
.listGroup{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.listGroup li{
    width: 49%;
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    color: #CF8B3F;
}
.listGroup li i{
    border: solid 1px #CF8B3F;
    border-radius: 10px;
    transform: scale(1);
    padding: 4px 6px;
}
.confirmDeleteGroup{
    display: none;
    margin-left: 5px;
    border: solid 2px #161617;
    border-radius: 5px;
    color: red;
    cursor: pointer;
}
/* ------------------------ MODERAT USERS ------------------------ */
#moderatReports{
    padding: 100px 0px;
}
#moderatReports ul{
    list-style-type: none;
    display: flex;
}
#moderatReports > nav, #moderatReports > nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#moderatReports > nav li{
    border: solid 1px #CF8B3F;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
/*table reports*/
#moderatReports > #content[class='moderatReportsFromElem']{
    display: flex;
}
#moderatReports > #content{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
}
#moderatReports tr, #moderatReports th, #moderatReports td{
    padding: 5px;
}
#moderatReports th{
    color: #CF8B3F;
    background-color: #222224;
}
#moderatReports th:first-of-type{
    width: 25%;
}
#moderatReports th:nth-of-type(2){
    width: 70%;
}
#moderatReports th:last-of-type{
    width: 5%;
}
#moderatReports tr > td:first-of-type, #moderatReports tr > td:last-of-type{
    text-align: center;
}
#moderatReports tr > td:nth-of-type(2) > p:last-of-type{
    text-align: right;
}
#moderatReports tr i{
    cursor: pointer;
    color: #CF8B3F;
    font-size: 1em;
}
/*paging*/
#paging{
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
}
#paging li{
    font-size: 1.2em;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;
}
/*block display if no content to display*/
#noContent{
    display: none;
}
/* ------------------------ SCHOOL HISTORY ------------------------ */
#blockSchoolHistory{
    padding: 100px 0px;
}
#schoolHistory{
    display: flex;
    flex-direction: column;
}
#blockSchools{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#blockSchools .blockSchool{
    width: 23%;

    cursor: pointer;
}
#blockSchools .blockSchool > div:first-of-type > div:first-of-type{ /*logo*/
    width: auto;
    max-width: 98%;
}
#blockSchools .blockSchool > div:first-of-type{
    flex-direction: column;
}
#blockSchools .blockSchool > div:first-of-type > div:nth-of-type(2){
    height: auto;
    width: 100%;
}
#blockEntries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: #161617;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.entry{
    width: 90%;

    display: flex;
    flex-direction: column;

    margin: 15px;
    padding: 5px;
    border :solid 1px #161617;
    border-radius: 5px;
    background-color: #222224;
}
.entry > span{
    text-align: center;
    width: 100%;
}
.entry > span:first-of-type{
    text-align: left;
}
/*search form*/
/*#blockSchool exist only for webmaster*/
#schoolHistory form{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    padding: 0px;
    border:none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#blockSchools + div form{
    display: none;
}
#schoolHistory form > div{
    height: 0px;
    overflow: hidden;
    padding-top: 1px;

    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}

#schoolHistory form > div:nth-of-type(2) > div > div{/*inputs date*/
    display: flex;
}
#search{
    height: 60px;
    overflow: hidden;
    display: flex;
}
#blockSchools + div #search{
    display: none;
}
#search i{
    cursor: pointer;
    margin: 10px;
    padding: 10px;

    border :solid 1px #161617;
    border-radius: 20px;

    color: #CF8B3F;
    background-color: #161617;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
#search i:hover{
    border :solid 1px #CF8B3F;
}
#search button{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border:none;
    margin-top: 65px;
    padding: 10px;

    color: white;

    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
#search button:hover{
    color: #CF8B3F;
}
.buttonIsFocus{
    background-color: #161617;
    color: #CF8B3F!important;
}
.menuIsOpen{
    border :solid 2px #CF8B3F!important;
    border-radius: 10px!important;
}
.buttonIsDisplay{
    margin-top: 15px!important;
}
.inputIsDisplay{
    height: 50px!important;
}
#showMore{
    width: 100%;
    text-align: right;
    cursor: pointer;
}
#blockSchools + div #showMore{
    display: none;
}

/*====================================================================================================================================
                                                            medium desktops laptops
====================================================================================================================================*/

@media all and (min-width:992px) and (max-width:1200px){
    .container{
        max-width: 992px;
    }
}

/*====================================================================================================================================
                                                            medium device
====================================================================================================================================*/

@media all and (min-width:768px) and (max-width:992px){
    body{
        font-size: 1.1em;
    }
    .container{
        max-width: 768px;
    }
}

/*====================================================================================================================================
                                                            small device
====================================================================================================================================*/

@media all and (min-width:600px) and (max-width:768px){
    body{
        font-size: 1em;
    }
    .container{
        max-width: 600px;
    }

    /* ------------------------ NAVBAR ------------------------ */
    #navbar{
        height: 80px;
    }
    #navbar li {
           margin: 0 10px;
       }
       #navbar i {
           font-size: 1.1em;
       }
}

/*====================================================================================================================================
                                                            smartphone
====================================================================================================================================*/

@media all and (max-width:600px){
    body{
        font-size: 0.7em;
    }
    .container{
        max-width: 90%;
    }

    /* ------------------------ TABLE ------------------------ */
    th, td{
        padding: 5px;
    }

    /* ------------------------ NAVBAR ------------------------ */
    #navbar{
        height: 60px;
    }
    #navbar li {
           margin: 0 5px;
       }
       #navbar i {
           font-size: 1em;
       }
}
