/* ------------------------------------------------------ */
/* ------------------------ SEARCH ---------------------- */
/* ------------------------------------------------------ */
#searchView{
    padding: 20px 0;
}
#homeSearch, #alsoSee{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}
#searchView > h2{
    margin-top: 50px;
}
#homeSearch > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 200px;
    border-radius: 5px;
    background-color: #161617;
}
#alsoSee > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-radius: 5px;
    background-color: #161617;
}
#searchView h3{
    color: #CF8B3F;
}
#searchView h2{
    font-size: 1.2em;
}
#searchByKeyWord h2 + form{
    margin-top: 30px;
}
#formSearchByKeyWord{
    padding: 10px;
    border: none;
}
#formSearchByKeyWord input[type='submit']{
    background-color: #161617;
    border-width: 1px;
    border-radius: 5px;
}
#formSearchByKeyWord input[type='submit']:hover{
    background-color: #222224;
}
#frequentlySearched > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#frequentlySearched > div > a{
    margin: 7px 0;
    padding: 3px 0;
    border-radius: 5px;
    text-align: center;
}
#frequentlySearched > div > a:hover {
    background-color: #222224;
    border: solid 1px #CF8B3F;
    border-top-width: 0;
    border-bottom-width: 0;
}
#advancedSearch > p:last-of-type{
    border: solid 1px #CF8B3F;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
}
#advancedSearch > p:last-of-type:hover{
    background-color: #222224;
}
/*result of search by key word*/
.blockResult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.blockResult a{
    width: 100%;
    position: relative;
}
.figureProfilePicture{
    height: 100%;
    margin : 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.figureProfilePicture > div{
    width: 90%;
    height: 70%;
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figureProfilePicture img{
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
.figureProfilePicture figcaption{
    font-size: 1.2em;
    word-break: break-word;
    padding: 5px;
}
.figureProfilePicture figcaption p{
    text-align: center;
}
.blockResultUser > div{
    min-width: 300px;
    width: 350px;
    max-width: 50%;
    margin: 0 50px 20px 0;
    border-bottom: solid 2px #262627;
    border-radius: 5px;
    border-left: solid 2px #262627;
}
.blockResultUser > div:hover{
    background-color: #262627;
    border-radius: 5px;
}
.blockResultUser > div > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.blockResultUser > div > a > div:first-child{
    min-width: 100px;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blockResultUser > div > a > div:nth-of-type(2){
    margin: 0 5px;
    text-align: center;
    flex: auto;
    max-width: 225px;
}
.blockResultUser > div > a > div:nth-of-type(2) p{
    word-break: break-all;
}
.blockResultPost > div{
    width: 285px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: solid 2px #262627;
    border-left: solid 2px #262627;
    border-radius: 5px;
}
.blockResultPost > div:hover{
    background-color: #262627;
}
.blockResultSchool > div{
    width: 44.8%;
}
#searchView #blockSchools{
    justify-content: space-around;
}
#searchView #blockSchools .blockSchool{
    width: 45%;
    height: 150px;
    border-bottom: solid 2px #262627;
    border-left: solid 2px #262627;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    margin: 10px auto 10px 0;
}
#searchView .blockSchool:hover{
    background-color: #262627;
}
#searchView .blockSchool > a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
#searchView .blockSchool > a > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width: 100%;
    font-size: 1.2em;
}
#searchView .blockSchool > a > div:first-child{
    height: 80%;
}
#searchView .blockSchool figure{
    height: 100%;
    width: 100%;
    padding: 0;
}
.blockResultTag > div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    height: 80px;
}
.blockResultTag > div a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchView > article, #advancedSearchView > article{
    background-color: #161617;
    padding: 30px 0;
    margin-top: 25px;
}
#searchView .tag{
    background-color: #161617;
}
/*result for quick search*/
#resultQuickSearch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#resultQuickSearch figure{
    width: 20%;
    height: 300px;
    position: relative;
    border: solid 2px #262627;
    border-radius: 5px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}
#resultQuickSearch figure:hover{
    background-color: #262627;
}
#pagingQuickSearch ol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}
#pagingQuickSearch li{
    margin: 20px 5px;
    list-style-type: none;
}
.actualPage{
    font-weight: bolder;
    font-size: 1.5em;
    padding: 5px 10px;
    border-left: solid 2px #161617;
    border-right: solid 2px #161617;
    border-radius: 5px;
}

/* ----------------------------------------------------------------- */
/* ------------------------ ADVANCED SEARCH ------------------------ */
/* ----------------------------------------------------------------- */
#advancedSearchView{
    padding: 50px 0;
}
#advancedSearchView h1{
    padding-bottom: 20px;
}
#advancedSearchView h2{
    padding-left: 10px;
}
#advancedSearchView input[type="radio"]{
    display: none;
}
#advancedSearchView input[type="radio"] + label{
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    font-size: 1.5em;
    overflow: hidden;
    word-break: break-word;
    cursor: pointer;
}
#advancedSearchView input[type="radio"] + label:hover{
    color: #CF8B3F!important;
}
#formAdvancedSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border: none;
    border-radius: 0;
    text-align: start;
    background-color: #222224;
}
#formAdvancedSearch #blockFilterBySchool i[class~="fa-times"]{
    font-size: 2em;
}
#formAdvancedSearch h1{
    margin: 20px auto 0 5%;
}
#formAdvancedSearch section{
    background-color: #161617;
    padding: 15px 0;
}
#formAdvancedSearch section > div{
    padding: 50px 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#formAdvancedSearch section > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#blockFilterBySchool input[type="radio"] + label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 180px;
    padding: 5px;
    margin: 10px 0;
}
#blockFilterBySchool input[type="radio"] + label img{
    max-height: 80%;
    max-width: 80%;
}
#formAdvancedSearch #blockFilterBySchool > div{
    justify-content: space-around;
    flex-wrap: wrap;
}
#formAdvancedSearch input[type='submit']{
    margin-top: 10px;
}
#blockSortBy > div{
    justify-content: space-around;
}
#blockSortWithTag > div{
    display: flex;
    flex-direction: row;
}
#blockSortWithTag > div > div:nth-of-type(1), #blockSortWithTag > #selectedTag{
    width: 49%;
}
#blockFilterAdvancedSearch{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#blockFilterAdvancedSearch .tag{
    cursor: default;
    width: fit-content;
}
#pagingQuickSearch li{
    cursor: pointer;
    color: #CF8B3F;
}

/* -------------------------------------------------------------- */
/* ------------------------ LIST SCHOOLS ------------------------ */
/* -------------------------------------------------------------- */
#listSchoolsView{
    padding-bottom: 40px;
}
#listSchoolsView h1, #listSchoolsView h2{
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    margin: 30px auto 10px auto;
}
#listSchoolsView #schoolInformation article{
    background-color: #161617;
    padding: 15px 0;
}
#listSchoolsView #blockSchools > div{
    height: 250px;
}
#listSchoolsView #blockSchools > div > div > div:first-of-type{
    height: 75%;
}
#listSchoolsView #blockSchools > div > div > div:nth-of-type(2){
    height: 25%;
    overflow: hidden;
}
#listSchoolsView #blockSchools > div > div > div:nth-of-type(2) > h2{
    margin: 10px auto;
}
#schoolInformation{
    display: none;
}
#linkSchoolProfile{
    font-size: 1.3em;
    text-align: right;
}
#adminSection, #moderatorSection, #studentSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* ----------------------------------------------------------- */
/* ------------------------ LIST TAGS ------------------------ */
/* ----------------------------------------------------------- */
#listTagsView{
    padding: 100px 0;
}
#listTagsView h1{
    margin-left: 10px;
}
#listTagsView > section{
    background-color: #161617;
}
#listTagsView .blockResultTag{
    padding: 20px 0;
    border-radius: 5px;
}
#listTagsView .blockResultTag a{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagsCategory h2{
    padding: 40px 0 10px 0;
}

/*====================================================================================================================================
                                                            medium desktops laptops
====================================================================================================================================*/

@media all and (min-width:992px) and (max-width:1200px){
    #homeSearch > div h2{
        margin-bottom: 0;
    }
    #formSearchByKeyWord{
        width: 80%;
        align-self: center;
    }
    #formSearchByKeyWord input{
        margin: 10px 0;
    }

    /*---------- quick search -------------*/
    #resultQuickSearch figure{
        width: 210px;
        height: 210px;
    }

    /*------------ searchByKeyWord result ------------*/
    #searchByKeyWord{
        display: flex;
        flex-direction: column;
    }
    #searchView #blockSchools .blockSchool{
        height: 110px;
    }
    .blockResultUser > div, .blockResultPost > div{
        font-size: 0.9em;
    }
    .blockResultPost > div{
        height: 250px;
    }
    .blockResultUser > div{
        width: 40%;
    }
    .blockResultUser > div > a > div:first-child{
        min-width: 85px;
        width: 85px;
        height: 85px;
    }
    .blockResultUser > div > a > div:nth-of-type(2){
        max-width: 280px;
    }

    /*------------ advanced search ------------*/
    #advancedSearchView #blockFilterBySchool > div > label{
        height: 140px;
        font-size: 1.4em;
    }
}

/*====================================================================================================================================
                                                            medium device
====================================================================================================================================*/

@media all and (min-width:768px) and (max-width:992px){
    #homeSearch > div h2{
        margin-bottom: 0;
    }
    #formSearchByKeyWord{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    #formSearchByKeyWord input{
        margin: 10px 0;
        width: 50%;
    }
    #formSearchByKeyWord input[type='submit']{
        font-size: 0.9em;
    }
    #advancedSearch p{
        max-width: 90%;
    }

    /*---------- quick search -------------*/
    #resultQuickSearch figure{
        width: 220px;
        height: 220px;
    }

    /*------------ searchByKeyWord result ------------*/
    #searchByKeyWord{
        display: flex;
        flex-direction: column;
    }
    #searchView #blockSchools .blockSchool{
        width: 90%;
        height: 110px;
    }
    .blockResultUser > div, .blockResultPost > div{
        width: 27%;
        font-size: 0.8em;
    }
    .blockResultPost > div{
        height: 200px;
    }
    .blockResultUser > div{
        width: 40%;
    }
    .blockResultUser > div > a > div:first-child{
        min-width: 70px;
        width: 70px;
        height: 70px;
    }
    .blockResultUser > div > a > div:nth-of-type(2){
        max-width: 430px;
    }

    /*------------ advanced search ------------*/
    #advancedSearchView #blockFilterBySchool > div > label{
        height: 110px;
        font-size: 1.2em;
    }
}

/*====================================================================================================================================
                                                            small device
====================================================================================================================================*/

@media all and (min-width:600px) and (max-width:768px){
    #homeSearch{
        flex-direction: column;
    }
    #homeSearch > div{
        width: 100%;
        margin-top: 20px;
        font-size: 1.2em;
    }
    #homeSearch > div h2{
        margin-bottom: 0;
    }
    #formSearchByKeyWord input{
        margin: 10px 0;
    }

    /*---------- quick search -------------*/
    #resultQuickSearch figure{
        width: 165px;
        height: 165px;
        margin: 5px;
    }

    /*------------ searchByKeyWord result ------------*/
    #searchByKeyWord{
        display: flex;
        flex-direction: column;
    }
    #searchView #blockSchools .blockSchool{
        width: 90%;
        height: 90px;
    }
    .blockResultPost > div{
        width: 28%;
        height: 200px;
        margin: 15px;
        font-size: 0.8em;
    }
    .blockResultUser > div{
        width: 100%;
        max-width: none;
    }
    .blockResultUser > div > a > div:first-child{
        min-width: 90px;
        width: 90px;
        height: 90px;
    }
    .blockResultUser > div > a > div:nth-of-type(2){
        max-width: 210px;
    }
    .blockResultTag > div {
        margin-right: 40px;
    }
    #searchView .tag {
        font-size: 1.2em;
    }

    /*------------ advanced search ------------*/
    #advancedSearchView #blockFilterBySchool > div > label{
        width: 28%;
        height: 140px;
        font-size: 1.4em;
    }
}

/*====================================================================================================================================
                                                            smartphone
====================================================================================================================================*/

@media all and (max-width:600px){
    #homeSearch{
        flex-direction: column;
    }
    #homeSearch > div{
        width: 100%;
        margin-top: 20px;
        padding: 5px;
        font-size: 1.3em;
    }
    #homeSearch > div h2{
        margin-bottom: 0;
    }
    #formSearchByKeyWord input{
        margin: 10px 0;
    }
    #alsoSee p{
        max-width: 90%;
        font-size: 1.2em;
    }

    /*---------- quick search -------------*/
    #resultQuickSearch figure{
        width: 115px;
        height: 115px;
        margin: 5px;
    }

    /*------------ searchByKeyWord result ------------*/
    #searchView #blockSchools{
        justify-content: space-around;
    }
    #searchView #blockSchools .blockSchool{
        width: 90%;
        height: 60px;
        margin: 5px;
    }
    #searchView #blockSchools .blockSchool > a{
        flex-direction: row;
    }
    .blockResultPost > div{
        width: 45%;
        height: 200px;
        margin: 5px;
    }
    .blockResultUser > div{
        width: 100%;
        max-width: 100%;
        min-width: min-content;
    }
    .blockResultUser > div > a > div:first-child{
        min-width: 50px;
        width: 50px;
        height: 50px;
    }
    .blockResultUser > div > a > div:nth-of-type(2){
        max-width: 75%;
    }
    .blockResultTag > div {
        margin-right: 30px;
    }
    #searchView .tag {
        font-size: 1.2em;
    }

    /*------------ advanced search ------------*/
    #advancedSearchView #blockFilterBySchool > div > label{
        width: 40%;
        height: 130px;
        font-size: 1.4em;
    }
    #advancedSearchView #tagName{
        max-width: 100%;
        margin-left: 0;
    }
}